@import 'input', 'globals', 'buttons', 'loader', 'sidebar';

*, *:before, *:after {
  box-sizing: border-box;
}

main {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;

  .menu {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    z-index: 3;

    h2 {
      padding-left: 10px;
    }
  }

  .icon-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vh;
    z-index: 2;

    .icon-cont {
      height: 20vh;
      width: 20vh;
      background: white;
      border-radius: 100%;
      border: 5px solid $primary;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 75px;
      }
    }
  }
  
  .main-cont {
    padding-top: 0 !important;
    padding: 30px;
    background: white;
    position: absolute;
    width: 100%;
    height: 80vh;
    top: 20vh;
    border-radius: 25px 25px 0 0;
  }
}