@import 'input', 'globals', 'buttons', 'loader';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $primary;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 15vh;
    }

    p {
      font-size: 3.5rem;
      padding-left: 20px;
      font-weight: bold;
      color: $primary;
    }
  }

  .sign-in {
    width: 500px;
  }

  .activate {
    p {
      font-size: .9rem;

      &:hover {
        cursor: default;
      }

      a {
        text-decoration: none;
        color: $primary;
        font-weight: 700;
        transition: .3s;

        &:hover {
          color: white;
          text-decoration: underline;
        }
      }
    }
  }

  .footer {
    transform: translateY(50px);
    font-size: .8em;
  }
}

@media only screen and (max-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 20px;
  
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        margin-top: 20px;
        height: 20vh;
      }
  
      p {
        font-size: 2rem;
        padding-left: 0;
        font-weight: bold;
        color: $primary;
        margin-block-end: 0;
      }
    }

    .sign-in {
      width: 80%;
    }
  
    .activate {
      p {
        font-size: .9rem;
  
        &:hover {
          cursor: default;
        }
  
        a {
          text-decoration: none;
          color: $primary;
          font-weight: 700;
          transition: .3s;
  
          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer {
    small {
      font-size: .6em;
    }
  }
}

@media only screen and (max-width: 320px) {
  main {
    margin: auto;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
      img {
        height: 20vh;
      }
  
      p {
        font-size: 1.5rem;
        padding-left: 20px;
        font-weight: bold;
        color: $primary;
      }
    }
  }

  .footer {
    small {
      font-size: .5em;
    }
  }
}